// Mobile first: default rules for mobile
main {
  flex-direction: column !important;
  flex-wrap: wrap !important;
  gap: 0.5rem;
}

img.contact-img {
  display: none !important;
}

@media (min-width: 992px) {
  img.contact-img {
    display: block !important;
  }
}  

/* Style to hide the section by default */
.sezione-informativa {
    max-height: 0; 
  overflow: hidden; /* Hides the content */
    opacity: 0;
    transition: all 0.5s ease-in-out, opacity 0.5s ease-in-out; 
  /* Optional transition effect */
    padding: 0 10px;
    margin-top: 10px;
}

/* Style to show the section when the ID is reached from the link */
.sezione-informativa:target {
  max-height: 500vh; /* A large value to contain all the text */
    overflow: auto;
    opacity: 1;
    padding: 15px 0px;
}