// BUTTONS ACTIVE: custom styles for active button states
.btn:active, .btn.active {
  color: #fff !important;
  box-shadow: 0 0.3rem 0.7rem rgba(0,0,0,0.3) inset;
  transform: scale(0.97);
}


.btn-secondary:active, .btn-secondary.active {
  color: #fff !important;
  box-shadow: 0 0.3rem 0.7rem rgba(0,0,0,0.3) inset;
  transform: scale(0.97);
}
