// Mobile first: regole di default per mobile
main {
  flex-direction: column !important;
  flex-wrap: wrap !important;
  gap: 0.5rem;
}

img.contact-img {
  display: none !important;
}

@media (min-width: 992px) {
  img.contact-img {
    display: block !important;
  }
}