// UTILITIES: helper classes and utility mixins

// Featured project image margin utility
.featured-img-margin {
  max-width: 350px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (min-width: 992px) {
  .featured-img-margin {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 2.5rem;
  }
}